<div class="container" style="background:#eee; height: 1000px">
	<div class="creat_school_btn">
		<a class="btn btn-primary" href="/tourist_places/new" type="submit">
			Create New School
		</a>
	</div>
	<h2>List of Place</h2>
	<div class="header-border"></div>
	<% @place.each do |plc|%>
	<div>
		<div>
			<h4 class="text_color_place">*Place Name:</h4>
			<%= plc.place_name %>
		</div>
		<div>
			<h4 class="text_color_place">*Address:</h4>
			<%= plc.address %>
		</div>
		<div>
			<h4 class="text_color_place">*About Place:</h4>
			<%= plc.description %>
		</div>
		<div class="edit_btn_position">
			<%= link_to "Edit", edit_tourist_place_path(plc.id), :class=> "btn btn-primary", 'data-no-turbolink' => true %>
			
			<%= link_to "Delete", tourist_place_path(plc.id), :class=> "btn btn-primary", method: :delete, data: {confirm: 'Are u sure'} %>
		</div>
	</div>
	<div class="row journal-entry-devider"> </div>
	<% end %>
	<a class="btn btn-primary" href="/" type="cancel">
		Back
	</a>
	<a onclick="javascript:print(); return false;" href="#" class="btn btn-primary"><span class=""></span>&nbsp;Print
    </a>
</div>