<%= render :partial => "header"%>
<div class="container" style="background:#eee; height: 2500px">
<!-- <h1>Namma Pandavapura</h1> -->
    <%# if current_user.has_role? :admin %>
	<div class="creat_school_btn">
		<a class="btn btn-primary" href="/tourist_places/new" type="submit">
			Create New Place
		</a>
	</div>
	<h2>List of Tourist Places</h2>
	<div class="new_villade_position">
    	<a class="btn btn-primary" href="/" type="cancel">
    		Home
    	</a>
    </div>
    <div class="header-border border_position"></div>
	<%# end %>
	
	<!-- <div class="header-border"></div> -->
	<% @place.each do |plc|%>
	<div>
		<div>
			<h4 class="text_color_place">*Place Name:</h4>
			<%= plc.place_name %>
		</div>
		<div>
			<h4 class="text_color_place">*Address:</h4>
			<%= plc.address %>
		</div>
		<div>
			<h4 class="text_color_place">*About Place:</h4>
			<%= plc.description %>
		</div>

        <div>
			<h4 class="text_color_place">*Place Image:</h4>
            <%= image_tag plc.image_url(:thumb) %>
        </div>

		<%# if current_user.has_role? :admin %>
		<!-- <div class="edit_btn_position"> -->
			<%#= link_to "Edit", edit_tourist_place_path(plc.id), :class=> "btn btn-primary", 'data-no-turbolink' => true %>
			
			<%#= link_to "Delete", tourist_place_path(plc.id), :class=> "btn btn-primary", method: :delete, data: {confirm: 'Are u sure'} %>
		<!-- </div> -->
		<%# end %>
	</div>
	<div class="row journal-entry-devider"> </div>
	<% end %>
	<div><a class="btn btn-primary" href="/" type="cancel">
		Back
	</a>
	<a onclick="javascript:print(); return false;" href="#" class="btn btn-primary"><span class=""></span>&nbsp;Print
    </a></div></br></br>
    <%= render :partial => 'footer' %></br></br>
</div>