<%= render :partial => "header"%>
<div class="container container-min-height" id="content" style="background:#eee; height: 700px">
<!-- <h1>Namma Pandavapura</h1> -->
<h2>Contact Us </h2>
    <div class="new_villade_position">
      <a class="btn btn-primary" href="/" type="cancel">
        Home
      </a>
    </div>
    <div class="header-border border_position"></div>
  <div class="row contact-margin">
    <div class="col-lg-4 col-sm-3 col-md-3">
          <h4><strong>Find Us</strong></h4></br>
          <!-- <figure class="page6-img1 img-bot">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3060.1608718804846!2d-105.10668648941036!3d39.91541596361853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876b8b9984c0c7c7%3A0xc755ef30a5248395!2s12303+Airport+Way!5e0!3m2!1sen!2sin!4v1393928460038" width="400" height="300" frameborder="0" style="border:0"></iframe>
          </figure> -->
          <figure class="page6-img1 img-bot">
                    <iframe src="https://www.google.com/maps/embed/v1/place?q=11867+Padavapura,+Mandya,+Karnataka+571434,+India&key=AIzaSyCjd98SBT0PO8q7tP-lfYwzForr2YMFi9Y" width="370" height="270" frameborder="0" style="border:0"></iframe>
                </figure>
          <div class="clear"></div>
          <dl class="dl1">
              <dt> Pandavapura, Mandya, Karnataka, 571434 </dt>   
                    <dd>Toll free: 8495844435</dd>
                    <dd>E-mail: <a>plingaiah@qwinixtech.com</a></dd>
          <%#= @contact.adress.html_safe %>
          </dl>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6">
      <h4 class="new-contact-padding"><strong>Contact Us</strong></h4></br>
      <%= form_tag email_contact_path, :id => 'contact_email_form', :class => 'new-contact-padding', :authenticity_token => true do %>
        <div class="form-group">
          <input type="text" class="form-control" autocomplete="off" placeholder="Your Name&nbsp;*" name="contact[name]" value=<%= @name || '' %> >
        </div>
        <div class="form-group">
          <input type="email" class="form-control" autocomplete="off" placeholder="Your E-mail Address&nbsp;*" name="contact[email]" value=<%= @email || '' %>>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Phone Number" name="contact[number]">
        </div>
        
        <div class="form-group">
          <textarea class="form-control" rows="3" placeholder="Message&nbsp;*" name="contact[message]" value=<%= @message || '' %> ></textarea>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
        <a href="<%= root_url %>" class="btn btn-primary">Cancel</a>
      <% end %>
    </div>
    <div class="col-lg-4 col-sm-3 col-md-3"></div>
  </div></br>
    <%= render :partial => 'footer' %></br></br>
</div>
