<%= render :partial => "header"%>
<!-- Carousel
================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active" >
          <img src="assets/DSC00067.JPG" class='center-aln' align="middle" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Love.</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="<%= villages_path %>" role="button">List of Villages</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/04MELKOTE1.jpg" align="middle" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Peace.</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="<%= map_path %>" role="button">Find in Padavapura</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/travel-kunti-betta2.jpg" align="middle" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Joy.</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="/galary" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class=""></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class=""></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing paddind_fix_img">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <a href="<%= schools_path %>"><img class="img-circle" src="assets/school.jpg"></a></br></br>
          <h2>Schools</h2>
          <p>A school is an institution designed for teaching of students (or "pupils") under the direction of teachers. We have lot of good schools in this city and also provided formal and excellent education to childrens. If you want to know the list of schools, click below button.</p>
          <p><a class="btn btn-default" href="<%= schools_path %>" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href="<%= hospitals_path %>"><img class="img-circle" src="assets/hospital.jpg"></a>
          <h2>Hospitals</h2>
          <p>A hospital is a health care institution providing patient treatment with specialised staff and equipment. In Pandavapura, we can see good and well facilitated hospitals. And also, we can see many nursing homes. If you want to see list of hospitals, click below button.</p>
          <p><a class="btn btn-default" href="<%= hospitals_path %>" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href="<%= tourist_places_path %>"><img class="img-circle" src="assets/melukote.jpg"></a>
          <h2>Tourist Places</h2>
          <p>Pandavapura is a normal city, it is not a tourist place but there are many touriest places near to the city like Melukote, KRS, Kerethonnur and Kunthi betta. Please click below button to see list of tourist places. </p>
          <p><a class="btn btn-default" href="<%= tourist_places_path %>" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-6">
          <h2 class="featurette-heading">Governament Bus Stand. <span class="text-muted">It'll blow your mind.</span></h2>
          <div class="lead">Bus service is provided by KSRTC, runs buses that connect Pandavapura to other places in Karnataka and a few buses to other states. The service was started in 2007, inagurated by H D Kumaraswamy, former chief minister of Karnataka governament.</div>
          <p><a class="btn btn-default" href="<%= buses_path %>" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="assets/IMG_20140929_170853929_HDR.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="assets/rail.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-6">
          <h2 class="featurette-heading">Railway Station. <span class="text-muted">Go where you want.</span></h2>
          <p class="lead">Pandavapura Railway Station is located in Karnataka, Mandya, Shrirangapattana. It belongs to South Western Railway, Bangalore Cy Jn. Neighbourhood Stations are Shrirangapatna,Chandagirikopal. Near by major Railway Station is Mysore Jn</p>
          <p><a class="btn btn-default" href="<%= trains_path %>" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-6">
          <h2 class="featurette-heading">Governament Offices. <span class="text-muted">Go and get your document.</span></h2>
          <p class="lead">Most of the taluk Governament offices are there in Pandavapura city, but some of them are in related Hobali head quaters. "mini vidanasouda" is the center of attraction in this city. </p>
            <p><a class="btn btn-default" href="<%= offices_path %>" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-6">
            <img class="featurette-image img-responsive" src="assets/IMG_20140929_171708837_HDR.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

        <div class="row contact-margin">
          <h2><u>Find Yourself In Pandavapura</u></h2></br>
          <div class="col-sm-3">
          <figure class="page6-img1 img-bot">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=11867+Padavapura,+Mandya,+Karnataka+571434,+India&key=AIzaSyCjd98SBT0PO8q7tP-lfYwzForr2YMFi9Y" width="1170" height="570" frameborder="0" style="border:1px solid" class='resposive-map'></iframe>
          </figure>
          </div>
        </div></br>


        <!-- FOOTER -->
          <%= render :partial => "footer"%></br>
        <footer>
          <p class="pull-right"><a href="#">Back to top</a></p>
          <!-- <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
        </footer>

        <!-- </div> -->
        <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
