    <body id="body">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- preloader -->
    <div id="preloader" style="display: none!important;">
      <img src="assets/preloader.gif" alt="Preloader">
    </div>
    <!-- end preloader -->

        <!-- 
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar-fixed-top navbar">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-2x"></i>
                    </button>
          <!-- /responsive nav button -->
          
          <!-- logo -->
                    <a class="navbar-brand image-position" href="#body">
            <h1 id="logo">
              <img src="assets/qwinix.jpg" alt="Brandi">
            </h1>
          </a>
          <!-- /logo -->
                </div>

        <!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li class="current"><a href="#body">Home</a></li>
                        <li><a href="#features">Place</a></li>
                        <li><a href="#galary">Galary</a></li>
                        <li><a href="#works">Help</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
        <!-- /main nav -->
        
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
    
    
    
        <!--
        Home Slider
        ==================================== -->
    
    <section id="slider">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      
        <!-- Indicators bullet -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>
        <!-- End Indicators bullet -->        
        
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          
          <!-- single slide -->
          <div class="item active" style="background-image: image-url(assets/DSC00067.JPG);">
            <div class="carousel-caption">
              <h2 data-wow-duration="700ms" data-wow-delay="500ms" class="wow bounceInDown animated">Namma<span> Pandavapura</span>!</h2>
              <h3 data-wow-duration="1000ms" class="wow slideInLeft animated"><span class="color">Town</span> of sugar.</h3>
              <p data-wow-duration="1000ms" class="wow slideInRight animated"></p>
              
            </div>
          </div>
          <!-- end single slide -->
          
          <!-- single slide -->
          <div class="item" style="background-image: image-url(assets/travel-kunti-betta2.jpg);">
            <div class="carousel-caption">
              <h2 data-wow-duration="500ms" data-wow-delay="500ms" class="wow bounceInDown animated">Namma<span> Pandavapura</span>!</h2>
              <h3 data-wow-duration="500ms" class="wow slideInLeft animated"><span class="color">Town</span> of peace.</h3>
              <p data-wow-duration="500ms" class="wow slideInRight animated"></p>
              
              <ul class="social-links text-center">
                <li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
                <li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
                <li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
                <li><a href=""><i class="fa fa-dribbble fa-lg"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- end single slide -->
          
        </div>
        <!-- End Wrapper for slides -->
        
      </div>
    </section>
    
        <!--
        End Home SliderEnd
        ==================================== -->
    
        <!--
        Features
        ==================================== -->
    
    <%= render :partial => "place" %>
    
        <!--
        End Features
        ==================================== -->
    
    
        <!--
        Our Works
        ==================================== -->
    
    <%= render :partial => "galary_page" %>
    
        <!--
        End Our Works
        ==================================== -->

    <%= render :partial => "help" %>
    
        <!--
        Meet Our Team%
        ==================================== -->    
    
    <%= render :partial => "team" %>
    
        <!--
        End Meet Our Team
        ==================================== -->
    
    <!--
        Some fun facts
        ==================================== -->    
    
    <%= render :partial => "facts" %>
    
        <!--
        End Some fun facts
        ==================================== -->
    
    
    <!--
        Contact Us
        ==================================== -->    
    
    <%= render :partial => "home_contact" %>
    
        <!--
        End Contact Us
        ==================================== -->
    
    
    <%= render :partial => "home_page_footer" %>
    
    <a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>

   
    <script>
      var wow = new WOW ({
        boxClass:     'wow',      // animated element css class (default is wow)
        animateClass: 'animated', // animation css class (default is animated)
        offset:       120,          // distance to the element when triggering the animation (default is 0)
        mobile:       false,       // trigger animations on mobile devices (default is true)
        live:         true        // act on asynchronously loaded content (default is true)
        }
      );
      wow.init();
    </script> 
    <!-- Custom Functions -->
    
   
  </body>
