
<!-- NAVBAR
  ================================================== -->
  <!-- <body> -->
  <div class="navbar-wrapper">
    <!-- <div class="container"> -->

      <div class="navbar navbar-inverse navbar-static-top space_remove" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="/">ನಮ್ಮ ಪಾಂಡವಪುರ</a> -->
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">ನಮ್ಮ ಪಾಂಡವಪುರ</a></li>
              <li><a href="<%= about_us_path %>">About</a></li>
              <li><a href="<%= contact_path %>">Contact</a></li>
              <li><a href="<%= villages_path %>">List of Villages</a></li>
              <li><a href="/galary">Gallary</a></li>
              <li><a href="/information">Information</a></li>
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li> -->
              <!-- <li>
              <div id="user_nav" class="signup_btn_position">
                  <%# if current_user %>
                  <%#= link_to "Log out", log_out_path %>
                  <%# else %>
                  <%#= link_to "Sign up", new_user_path, :remote => true %> or
                  <%#= link_to "log in", new_session_path, :remote => true %>
                  <%# end %>
                </div>
              </li> -->
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active" >
          <img src="assets/DSC00067.JPG" class='center-aln' align="middle" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Love.</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="<%= villages_path %>" role="button">List of Villages</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/04MELKOTE1.jpg" align="middle" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Peace.</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="<%= map_path %>" role="button">Find in Padavapura</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/travel-kunti-betta2.jpg" align="middle" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Joy.</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="/galary" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class=""></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class=""></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing paddind_fix_img">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <a href="<%= schools_path %>"><img class="img-circle" src="assets/school.jpg"></a></br></br>
          <h2>Schools</h2>
          <p>A school is an institution designed for the teaching of students (or "pupils") under the direction of teachers. We have lot of good schools in this city and also the provided formal and excelent education to chilldrens. If you want to known list of schools click below button.</p>
          <p><a class="btn btn-default" href="<%= schools_path %>" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href="<%= hospitals_path %>"><img class="img-circle" src="assets/hospital.jpg"></a>
          <h2>Hospitals</h2>
          <p>A hospital is a health care institution providing patient treatment with specialised staff and equipment. In Pandavapura we can see good and well facilitate hospitals. And also we can see many nursing homes. If you want to see list of hospitals click below button.</p>
          <p><a class="btn btn-default" href="<%= hospitals_path %>" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href="<%= tourist_places_path %>"><img class="img-circle" src="assets/melukote.jpg"></a>
          <h2>Tourist Places</h2>
          <p>Pandavapura is a narmal city, it is not a tourist place but many touriest places are there near to city. Melukote, KRS, Kerethonnur and Kunthi betta are some of the places. Please click below button to see list of touriest places. </p>
          <p><a class="btn btn-default" href="<%= tourist_places_path %>" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-6">
          <h2 class="featurette-heading">Governament Bus Stand. <span class="text-muted">It'll blow your mind.</span></h2>
          <div class="lead">Bus service is provided by KSRTC runs buses that connect Pandavapura to other places in Karnataka and a few buses to other states. It was started service on 2007 inagurated by Kumaraswamy former chief minster Karnataka governament.</div>
          <p><a class="btn btn-default" href="<%= offices_path %>" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="assets/IMG_20140929_170853929_HDR.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="assets/rail.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-6">
          <h2 class="featurette-heading">Railway Station. <span class="text-muted">Go where you want.</span></h2>
          <p class="lead">Pandavapura Railway Station is Located in Karnataka, Mandya, Shrirangapattana. It belongs to South Western Railway, Bangalore Cy Jn. Neighbourhood Stations are Shrirangapatna,Chandagirikopal, Near By major Railway Station is Mysore Jn</p>
          <p><a class="btn btn-default" href="<%= trains_path %>" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-6">
          <h2 class="featurette-heading">Governament Offices. <span class="text-muted">Go and get your document.</span></h2>
          <p class="lead">Most of the taluk Governament offices are there in Pandavapura city but some of are there in related hobali head quatres.
            "mini vidanashowda" is the center of attraction in this city. </p>
            <p><a class="btn btn-default" href="<%= offices_path %>" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-6">
            <img class="featurette-image img-responsive" src="assets/IMG_20140929_171708837_HDR.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

        <div class="row contact-margin">
          <h2><u>Find Yourself In Pandavapura</u></h2></br>
          <figure class="page6-img1 img-bot">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=11867+Padavapura,+Mandya,+Karnataka+571434,+India&key=AIzaSyCjd98SBT0PO8q7tP-lfYwzForr2YMFi9Y" width="1170" height="570" frameborder="0" style="border:1px solid"></iframe>
          </figure>
        </div>


        <!-- FOOTER -->
        <footer>
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>

      <!-- </div> -->
      <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
