<!-- <div class="navbar-wrapper"> -->
    <%= render :partial => "header"%>
  <div class="container">
    <!-- <div class="jumbotron"> -->
    <%#= render :partial => "home_page/header" %>
    <h2>List of Villages in Pandavapura</h2>
    <%# if current_user.has_role? :admin %>
      <!-- <div class="new_villade_position">
        <a class="btn btn-primary" href="/villages/new" type="submit">
          Create New Village
        </a>
      </div> -->
      <div class="new_villade_position">
      <a class="btn btn-primary" href="/" onclick="window.location.href='/'" type="cancel">
        Home
      </a>
    </div>
    <div class="header-border border_position"></div>
      <%# end %>
            <%= form_tag villages_path, :method => 'get' do %>
            <div class="search_field">
            <div class="row">
            <div class="col-sm-12">
            <div class="col-sm-4">
                <%= text_field_tag :search, params[:search], :class => " search_field_position" %>
            </div>
                <%#= submit_tag " Search", :name => nil, :class => 'search_btn_position'%>
                <div class="col-sm-2">
                <button class="btn btn-primary" type="submit">
                    <span class=""></span>&nbsp;&nbsp;
                    Search
                </button>
                </div>
            </div>
            </div>
            </div>
            <% end %></br></br>
            <table class="table table-striped table-hover">
             <thead>
              <tr>
               <th class="coupon-width">List of Villages</th>
               <th class="coupon-width">Area in Hectares</th>
               <th class="coupon-width">Village Code</th>
               <%# if current_user.has_role? :admin %>
               <th class="Last-access">&nbsp;</th>
               <%# end %>
           </tr>
       </thead>
       <tbody>
          <% @village.each do |vlg| %> 
          <tr>
           <td>
            <div><%= vlg.village_name %></div>
        </td>
        <td>
            <div><%= vlg.area %></div>
        </td>
        <td>
            <div><%= vlg.village_code %></div>
        </td>
        <%# if current_user.has_role? :admin %>
        <td>
            <%#= link_to image_tag("icon-edit.png"), edit_village_path(vlg.id), :title => "Edit", 'data-no-turbolink' => true %>
            <%#= link_to image_tag("icon-deleted.png"), village_path(vlg.id), method: :delete, data: {confirm: 'Are u sure'}, :title => "Delete"  %>
        <!-- </a> -->
    </td>
    <%# end %>
</tr>
<% end %>
</tbody>
</table>
<div class="pagination" >
<%= paginate @village %>
</div><br>
<div>
<a class="btn btn-primary" href="/" onclick="window.location.href='/'" type="cancel">
    Back
</a></div></br>
<!-- <a onclick="javascript:print(); return false;" href="#" class="btn btn-primary"><span class=""></span>&nbsp;Print
</a> -->
<%= render :partial => 'footer' %></br></br>
</div>
<!-- </div> -->
<!-- </div> -->