<div class="container" style="background:#eee; height: 1000px">
<h1>Namma Pandavapura</h1>
    <div class="header-border border_position"></div>
	<div class="creat_school_btn">
		<a class="btn btn-primary" href="/hospitals/new" type="submit">
			Create New Hospital
		</a>
	</div>
	<h2>List of Hospital</h2>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th class="entry-num">Hospital Name</th>
				<th class="date">Type</th>
				<th class="name">Adress</th>
				<th class="action">Action</th>
			</tr>
		</thead>
		<tbody class="table-body-background change-font">
			<% @hospital.each do |hos|%>
			<tr class="">
				<td><%= hos.name %></td>
				<td><%= hos.type %></td>
				<td><%= hos.address %></td>
				<td>
					<%= link_to image_tag("icon-edit.png"), edit_hospital_path(hos.id), :title => "Edit", 'data-no-turbolink' => true %>
					
					<%= link_to image_tag("icon-deleted.png"), hospital_path(hos.id), method: :delete, data: {confirm: 'Are u sure'}, :title => "Delete"  %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<a class="btn btn-primary" href="/" type="cancel">
		Back
	</a>
	<a onclick="javascript:print(); return false;" href="#" class="btn btn-primary"><span class=""></span>&nbsp;Print
    </a>
</div>