<!DOCTYPE html>
<html>
<head>
  <title>NammaPandavapura</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= calendar_date_select_includes %>
  <%= csrf_meta_tags %>

<!-- <div id="user_nav">
  <%# if current_user %>
    Logged in as <%#= current_user.email %>.
    <%#= link_to "Log out", log_out_path %>
  <%# else %>
    <%#= link_to "Sign up", new_user_path %> or
    <%#= link_to "log in", new_session_path %>
  <%# end %>
</div> -->
<%# if current_user %>
     <!-- Signed in as <strong><%#= current_user.name %></strong> -->
    <%#= link_to "Sign out", log_out_path, id: "sign_out" %>
  <%# else %>
    <%#= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <%#= link_to "Twitter", "/auth/twitter" %>
  <%# end %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>


</head>
<body>

<%= yield %>
<%#= render :partial => 'footer' %>
<%= render :partial => 'pop_ups' %>

<%#* Display Hidden Overlays -%>
    <%= render :partial => "overlays" -%>
</body>
</html>
